  <% title "Welcome" %>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Have you built or building cool new projects that can help India?</h1>
                <hr>
                <p>Join the Ideas for India network to share the cool ideas you built and work with others building projects that can change the country. </p>
                <%= link_to "Join Invento", new_user_session_path, class: "btn btn-primary btn-xl page-scroll" %>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Ideas for India</h2>
                    <hr class="light">
                    <p class="text-faded">Ideas for India is a platform to collaboratively solve India’s core problems through the concept of open innovation. If we put 100 crore brains on any task, there is no problem that cannot be solved.Anyone can add ideas and manage the process to build the idea. The community can comment and provide advice, apart from helping you when you are stuck.</p>
                     <%= link_to "Join Invento", new_user_session_path, class: "btn btn-primary btn-xl page-scroll" %>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why join Invento?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-trophy text-primary sr-icons"></i>
                        <h3>Showcase your ideas</h3>
                        <p class="text-muted">Get popularity and win awards for innovation.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-space-shuttle text-primary sr-icons"></i>
                        <h3>Connect </h3>
                        <p class="text-muted">Connect with innovators who are working on similar ideas.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flask text-primary sr-icons"></i>
                        <h3>Get inspired</h3>
                        <p class="text-muted">Browse ideas that might trigger your creative neurons.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Help India</h3>
                        <p class="text-muted">Share your expertise and help the community solve problems!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>You have complained for a long time about India's key problems. Now, it is time to build. </h2>
                 <%= link_to "Join Invento", new_user_session_path, class: "btn btn-primary btn-xl page-scroll" %> </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Have questions on Ideas for India?</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-twitter fa-3x sr-contact"></i>
                    <p><a href="https://www.twitter.com/invento_tech/">invento_tech</a></p>
                </div>
                
                  <div class="col-lg-4 text-center">
                    <i class="fa fa-fw fa-3x sr-contact">Q</i>
                    <p><a href="https://invento.quora.com">Invento.quora.com</a></p>
                </div>
                <div class="col-lg-4 text-center">
                   <i class="fa fa-facebook fa-3x sr-contact"></i>
                    <p><a href="https://www.facebook.com/inventotech/">Inventotech</a></p>
                </div>
            </div>
        </div>
    </section>
