<h1>Lists of Events related to Ideas for India</h1>
<h3>IIT Mumbai: July 29-30, 2016</h3>
Balaji talking to students about the future of India, kicking start the tool.

<h3>Pune: July 31, 2016</h3> 
TBD

<h3>NIT Trichy, August 6</h3>
Balaji speaking at the TEDx event on building a maker centric education in India.

<h3>Bhubaneswar, Aug 9-11</h3>
Conclave on Entrepreneurship


