<h1>Lists of Events related to Ideas for India</h1>
IIT Mumbai: July 29-30, 2016
Balaji talking to students about the future of India, kicking start the tool.

Pune: July 31, 2016
TBD

NIT Trichy, August 6
Balaji speaking at the TEDx event on building a maker centric education in India.

Bhubaneswar, Aug 9-11
Conclave on Entrepreneurship


